/* Sales.css */

.sales-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #faf4e1; /* Màu nền giống trong hình */
    text-align: center;
    margin-bottom: 40px;
}

.message-container {
    background: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.message {
    font-family: 'Playfair Display', serif; /* Áp dụng font Playfair Display */
    font-size: 2.5rem;
    color: #333;
}

.message span {
    color: #ff4081;
}

.continue-button {
    background-color: #f1c122; /* Màu nền giống trong hình */
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.continue-button:hover {
    background-color: #c49c1a; /* Màu nền giống trong hình */
}

.link-button {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.link-button:hover {
    text-decoration: underline;
}
